body {
  width: 100vw;
  position: absolute;
  margin: 0 auto;
}

/* .Appli, */
.contenu-principal {
  position: relative;
  width: 100%;
  height: 80vh;
  top: 0;
  overflow: hidden;

/*   .titre-liste-taches {
    text-align: center;
    font-size: clamp(0.8rem, -0.0385rem + 3vw, 2.6rem);
    /*débute après le formulaire /*
    position: relative;
    top: 9vh;
  } */

  div.defiler {
    position:relative;
    top: 12vh;
    overflow: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    /*  flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
  }
}
