body {
  width: 100vw;
  position: absolute;
  margin: 0 auto;
}

.Appli,
.contenu-principal {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  overflow: hidden;

  .titre-liste-taches {
    text-align: center;
  }

  div.defiler {
    overflow: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    /*  flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
