.Filtres {
  /*Débute en haut du pied de page */
  width: 100%;
  position: fixed;
  bottom: 3.4vh;
  height: 16.6vh;
background-color: hsla(213, 15%, 14%, 0.1);
  text-align: center;
  /*text-shadow: hsl(215, 16%, 21%) -0.1em -0.1em 0.2em;*/
  color:#f2e9d8;
  padding-top: 0.4rem;

 h5 {
  margin: 0.1rem;
  padding: 0.5rem;
  font-size: x-large;
  text-shadow: hsl(218deg, 17%, 22%) 0.06em 0.06em 0.06em;
  color: black;
 }

  .filtre-bouton {
    color: black;
   font-weight: bolder;
   font-size: 0.6rem;
   text-shadow: hsl(215, 16%, 71%) -0.1em -0.1em 0.2em;
   box-shadow: -2px -2px 5px rgba(33, 33, 33, 0.7);
   margin: 0.4rem 0.4rem;
   padding: 0.5rem;
  }

  .filtre-supprimer {
    background-color: rgba(105, 39, 39, 0.8);
    display: block;
    margin: 0 auto;
    color: rgb(134, 138, 168);
    text-shadow: hsl(215, 16%, 21%) -0.1em -0.1em 0.2em;
    font-weight: bolder;
    margin-top: 0.4rem;
  }

  .filtre-supprimer:hover {
    background-color:rgba(169, 26, 26, 1);
  }

  @media screen and (min-width: 992px) {
    h5 {
      font-size: 1.2rem;
      margin: 0.4rem 0 0.6rem 0;
     }
     .filtre-bouton {
      font-size: 0.8rem;
      margin: 0 0.4rem 0.4rem 0.4rem;
      padding: 0.6rem;
     }
     .filtre-supprimer {
      display: inline;
     }
    }
  }
