.FrmMemo {
position: relative;
top: 13vh;
  background-color: transparent;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 4px 5px rgba(33, 33, 33, 0.7);

}