.FrmTache {
position: relative;
top: 13vh;
  background-color: transparent;
  height: 80px;
  padding-bottom: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: hsl(218deg, 17%, 32%) 0.1em 0.1em 0.2em;
}