.Memo {
  background-color: #eddf9a;
  min-width: 240px;
  max-width: 90vw;
  border-radius: 1% 20px 1% 20px;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transition: transform 600ms;
  text-shadow: hsl(218deg, 17%, 72%) 0.1em 0.1em 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .memo-haut {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .memo-date {
      font-size: 0.76rem;
    }

    .memo-completer {
      padding: 0rem;
    }
    
    .memo-completer:hover,
    .memo-completer:active {
      color: green;
    }
  }
  
  .memo-date,
  .memo-completer,
  .memo-supprimer {
    margin: 0.6rem;
    padding: 0rem;
  }
  
  .un-memo {
    margin: 0.2rem 1.4rem;
    width: 90%;
    background-color: #f2e9d8;
    text-align: center;
    padding: 1rem 1rem 1.6rem 1rem;
    border-radius: 1% 10px 1% 10px;
    box-shadow: 4px 4px 10px rgba(33, 33, 33, 0.7);
    white-space: pre-wrap;
    word-wrap: break-word;

    @media screen and (min-width: 992px) {
      padding: 1.8rem 1.8rem 2.2rem 1.8rem;
    }
  }

  .memo-bas {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .memo-supprimer:hover,
    .memo-supprimer:active {
      color: red;
    }
  }

  .memo-completer-texte {
    color: rgba(0, 128, 0, 0.5);
    text-decoration: line-through;
  }
  
/*   .MuiIconButton-root:not(.memo-supprimer) {
    color: green !important;
   }  */
   
}

.Memo:hover,
.Memo:active {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  z-index: 100;
}
