.Memo {
  background-color: #eddf9a;
  min-width: 240px;
  max-width: 90vw;
  border-radius: 1% 20px;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transition: transform 600ms;
  text-shadow: hsl(218deg, 17%, 72%) 0.1em 0.1em 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation: apparition-memo-ani 800ms forwards;

  @keyframes apparition-memo-ani {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  .memo-haut {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .memo-date {
      font-size: 0.76rem;
      transition: color 600ms text-decoration 1s;;
    }

    .memo-completer-bt {
      padding: 0rem;
      opacity: 0.7;
      transition: color 600ms opacity 800ms;
    }
    
    .memo-completer-bt:hover,
    .memo-completer-bt:active {
      color:  rgba(0, 128, 0, 1);
    }

    .bouton-completer-bt-vrai {
      color:  rgba(0, 128, 0, 1);
      opacity: 0.9;
    }
  }
  
  .memo-date,
  .memo-completer-bt,
  .memo-supprimer-bt {
    margin: 0.6rem;
    padding: 0rem;
  }
  
  .un-memo {
    margin: 0.2rem 1.4rem;
    width: 90%;
    background-color: #f2e9d8;
    text-align: center;
    padding: 1rem 1rem 1.6rem 1rem;
    border-radius: 1% 10px 1% 10px;
    box-shadow: 4px 4px 10px rgba(33, 33, 33, 0.7);
    white-space: pre-wrap;
    word-wrap: break-word;
    transition: background-color 2s text-decoration 1s;

    @media screen and (min-width: 992px) {
      padding: 1.8rem 1.8rem 2.2rem 1.8rem;
    }
  }

  .memo-bas {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .memo-supprimer-bt {
    width: 12%;
      opacity: 0.5;
      transition: color 1s opacity 1s;
    }
    
    .memo-supprimer-bt:hover,
    .memo-supprimer-bt:active {
      color: red;
      opacity: 1;
    }
  }

    .memo-supprimer {
    animation: disparition-memo-ani 1s;
  }

  @keyframes disparition-memo-ani {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }

  .memo-completer-texte {
    background-color:  rgba(8, 173, 8, 0.7);;
    text-decoration: line-through;
  }

  .memo-completer-date {
    color: rgba(0, 128, 0, 1);
    text-decoration: line-through;
  }
}

.Memo:hover,
.Memo:active {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  z-index: 100;
}


