.Operations {
  /*Débute en haut du pied de page */
  width: 100%;
  position: fixed;
  bottom: 4vh;
  height: 12vh;
  background-color: #125b6a;
  text-transform: uppercase;
  text-align: center;
  text-shadow: hsl(218deg, 17%, 22%) 0.1em 0.1em 0.2em;
}