.Pied2Page {
  width: 100%;
  position: fixed;
  bottom: 0vh;
  height: 5vh;
  background-color: #028090;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: hsl(218deg, 17%, 42%) 0.1em 0.1em 0.2em
}